:root {
  --text-color: #000000;
  --background-color: #ffe7dc;
  --primary-color: #ffab7f;
  --primary-color-shade: #f79c6b;
  --secondary-color: #2a4966;

  /* --ion-font-family: "Verdana"; */

  --ion-color-primary: var(--primary-color);
  --ion-color-primary-shade: var(--primary-color-shade);

  color: var(--text-color);
  --ion-text-color: var(--text-color);

  --ion-background-color: var(--background-color);
}

ion-button {
  color: var(--secondary-color);
  background-color: var(--primary-color);
  border-radius: 20px;
}

ion-toolbar {
  --background: var(--primary-color);
  --color: var(--text-color);
}

ion-back-button {
  --color: var(--text-color);
}